.H1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.img1{
  padding-left: 50px;
}
.img2{
  padding-left: 60px;
  padding-bottom: 20px;
}
.img3{
  padding-left: 60px;
  padding-bottom: 20px;
}
.img4{
  padding-left: 70px;
  padding-bottom: 10px;
}
.img5{
  padding-left: 70px;
}
.img6{
  padding-left: 55px;
}
#button{
    border: none;
    color: black;
    background-color:#B59540 ;
    padding: 10px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }
  .C1{
    padding-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
  }
  
  
  .column {
    float: left;
    width: 32.5%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
   

  #comment
  {
  float:right;
  }
  
  .rams{
  float:right;
  padding-top: 5px;
  }
  .manju{
  float:right;
  padding-top: 5px;
  }
  .fc{
    padding-top: 7px;
  }